/* color palette
dark blue: #2D4356;
hover blue: #435B66;
light blue: #628798;
light grey: #EFEFEF;
background grey: #f5f5f5;
*/

/* variables */
/* nav variables */
$nav-bgcolor: #2D4356;
$nav-bghover: #435B66;
$nav-linkcolor: #EFEFEF;
$nav-padding: 2ch;
/* footer variables*/
$footer-bgcolor: #2D4356;
$footer-txtcolor: #EFEFEF;
/*card variables*/
$card-bgcolor: #d9d9d9;
$readmore-bgcolor: white;
$card-border: 2ch;
$cardimg-border: 3ch;
/* index&navpages main link variable*/
$mainlink-bgcolor: #628798;
$mainlink-txtcolor: #2D4356;
$mainlink-visited: #EFEFEF;
$mainlink-hover: #2D4356;
$mainlink-border: 3ch;
$mainlink-padding: 1ch;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}


/* Common elements for all pages*/
/* navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: $nav-padding;
    background-color: $nav-bgcolor;
    li {
    display: inline;
    }
    li a {
    padding: $nav-padding;
    color: $nav-linkcolor
    }
    li a:hover {
    background-color: $nav-bghover;
    }
  }

/* banner */
.banner {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

/* footer */
footer {
    text-align: center;
    background-color: $footer-bgcolor;
    color: $footer-txtcolor;
}

/* cards */
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2ch;
    padding: 2ch;
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
.card-content {
        background-color: $card-bgcolor;
        padding: 1ch;
        border-radius: $card-border;
    }
.card-content img {
    max-width: 100%;
    border-radius: $cardimg-border;
}
.card-content h3 {
    text-align: center;
    margin: 1ch;
    }
.card-content p {
    text-align: justify;
    margin: 1ch;
    }
.card-content a:link {
    display: flex;
    justify-content: center;
    background-color: $mainlink-bgcolor;
    color: $mainlink-txtcolor;
    padding: $mainlink-padding;
    border-radius: $mainlink-border;
    max-width: 30%;
    margin: auto;
    }
    .card-content a:hover {
        background-color: $mainlink-hover;
    }
    .card-content a:visited {
        color: $mainlink-visited;
    }
}
}

h1 {
    text-align: center;
    padding: 1ch;
    margin: 1ch;
}