/* color palette
dark blue: #2D4356;
hover blue: #435B66;
light blue: #628798;
grey: #435B66;
light grey: #EFEFEF;
*/

/* variables */
/* nav variables */
$nav-bgcolor: #2D4356;
$nav-bghover: #435B66;
$nav-linkcolor: #EFEFEF;
$nav-padding: 2ch;
/* Index page variables*/
$my-padding: 1ch;
/* aside variables*/
$aside-bgcolor: #d8d8d8d4;
$aside-bordercolor: #435B66 1px solid;
$aside-border: 3ch;
/*main variables*/
$main-bgcolor: #d8d8d8d4;
$main-bordercolor: #435B66 1px solid;
$main-border: 3ch;
/* footer variables*/
$footer-bgcolor: #2D4356;
$footer-txtcolor: #EFEFEF;
/* index main link variable*/
$mainlink-bgcolor: #628798;
$mainlink-txtcolor: #2D4356;
$mainlink-visited: #EFEFEF;
$mainlink-border: 3ch;
$mainlink-padding: 1ch;

body {
background-color: #f5f5f5;
}

/* Common elements for all pages*/
/* navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: $nav-padding;
    background-color: $nav-bgcolor;
    li {
    display: inline;
    }
    li a {
    padding: $nav-padding;
    color: $nav-linkcolor
    }
    li a:hover {
    background-color: $nav-bghover;
    }
  }

/* banner */
.banner {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

/* footer */
footer {
    text-align: center;
    background-color: $footer-bgcolor;
    color: $footer-txtcolor;
}

/* INDEX - main content*/
.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    aside {
        display: flex;
        flex-direction: column;
        max-width: 20%;
        padding: $my-padding;
        margin: $my-padding;
        background-color: $aside-bgcolor;
        border-radius: $aside-border;
    }
    aside h3 {
        display: flex;
        justify-content: center;
    }
    aside p {
        text-align: justify;
    }
    main {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        padding: $my-padding;
        margin: $my-padding;
        background-color: $main-bgcolor;
        border-radius: $main-border;
    }
    main img {
        display: flex;
        justify-content: center;
        max-width: 50%;
        margin: auto;
        padding: auto;
    }
    main p {
        text-align: center;
    }
    main a:link {
        display: flex;
        align-items: center;
        background-color: $mainlink-bgcolor;
        color: $mainlink-txtcolor;
        border-radius: $mainlink-border;
        max-width: 30%;
        margin: auto;
        padding: $mainlink-padding;
    }
    main a:visited {
        color: $mainlink-visited;
    }
}


