/* variables */
/* nav variables */
$nav-bgcolor: pink;
$nav-bghover: beige;
$nav-linkcolor: black;
$nav-padding: 2ch;
/* Index page variables*/
$my-padding: 2ch;
/* aside variables*/
$aside-bgcolor: salmon;
/*main variables*/
$main-bgcolor: orange;
/* footer variables*/
$footer-bgcolor: yellow;


/* navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: $nav-padding;
    background-color: $nav-bgcolor;
    li {
    display: inline;
    }
    li a {
    padding: $nav-padding;
    color: $nav-linkcolor
    }
    li a:hover {
    background-color: $nav-bghover;
    }
  }

/* banner */
.banner {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

/* INDEX - main content*/
.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    aside {
        display: flex;
        flex-direction: column;
        max-width: 20%;
        padding: $my-padding;
        margin: $my-padding;
        background-color: $aside-bgcolor;
    }
    main {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        padding: $my-padding;
        margin: $my-padding;
        background-color: $main-bgcolor;
    }
    main img {
        max-width: 100%;
        margin: auto;
        padding: auto;
    }
}

footer {
    text-align: center;
    background-color: $footer-bgcolor;
}
