/* color palette
dark blue: #2D4356;
lighter blue: #435B66;
grey: #435B66;
light grey: #EFEFEF;
*/

/* variables */
/* nav variables */
$nav-bgcolor: #2D4356;
$nav-bghover: #435B66;
$nav-linkcolor: #EFEFEF;
$nav-padding: 2ch;
/* Index page variables*/
$main-padding: 2ch;
$main-margin: 2ch;
/* aside variables*/
$aside-bgcolor: #d8d8d8d4;
$aside-bordercolor: #435B66 1px solid;
$aside-border: 3ch;
/*main variables*/
$main-bgcolor: #d8d8d8d4;
$main-bordercolor: #435B66 1px solid;
$main-border: 3ch;
/* footer variables*/
$footer-bgcolor: #2D4356;
$footer-txtcolor: #EFEFEF;
/* index&navpages main link variable*/
$mainlink-bgcolor: #628798;
$mainlink-txtcolor: #2D4356;
$mainlink-visited: #EFEFEF;
$mainlink-hover: #2D4356;
$mainlink-border: 3ch;
$mainlink-padding: 1ch;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
}

/* Common elements for all pages*/
/* navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: $nav-padding;
    background-color: $nav-bgcolor;
    li {
    display: inline;
    }
    li a {
    padding: $nav-padding;
    color: $nav-linkcolor
    }
    li a:hover {
    background-color: $nav-bghover;
    }
  }

/* banner */
.banner {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

/* footer */
footer {
    text-align: center;
    background-color: $footer-bgcolor;
    color: $footer-txtcolor;
}

/* article
article {
    background-color: $article-bgcolor;
    text-align: justify;
    padding: 2ch;
    margin: 2ch;
    article h3 {
        padding: 1ch;
        margin: 1ch;
    }
} */

main {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: auto;
    margin: auto;
    background-color: $main-bgcolor;
    border-radius: $main-border;
}
main img {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: auto;
    padding: auto;
}
main p {
    text-align: center;
    padding: $main-padding;
}
main a:link {
    display: flex;
    align-items: center;
    background-color: $mainlink-bgcolor;
    color: $mainlink-txtcolor;
    border-radius: $mainlink-border;
    max-width: 30%;
    margin: auto;
    padding: $mainlink-padding;
}
main a:visited {
    color: $mainlink-visited;
}
main a:hover {
    background-color: $mainlink-hover;
}
main h1 {
    margin: $main-margin;
}




