/* color palette
dark blue: #2D4356;
lighter blue: #435B66;
grey: #435B66;
light grey: #EFEFEF;
*/

/* variables */
/* nav variables */
$nav-bgcolor: #2D4356;
$nav-bghover: #435B66;
$nav-linkcolor: #EFEFEF;
$nav-padding: 2ch;
/* footer variables*/
$footer-bgcolor: #2D4356;
$footer-txtcolor: #EFEFEF;
/* article variable*/
$article-bgcolor: #d8d8d8d4;

* {
    margin: 0;
    padding: 0;
}

/* Common elements for all pages*/
/* navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: $nav-padding;
    background-color: $nav-bgcolor;
    li {
    display: inline;
    }
    li a {
    padding: $nav-padding;
    color: $nav-linkcolor
    }
    li a:hover {
    background-color: $nav-bghover;
    }
  }

/* banner */
.banner {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

/* footer */
footer {
    text-align: center;
    background-color: $footer-bgcolor;
    color: $footer-txtcolor;
}

/* article */
article {
    background-color: $article-bgcolor;
    text-align: justify;
    padding: 2ch;
    margin: 2ch;
    article h3 {
        padding: 1ch;
        margin: 1ch;
    }
}




